/* setting up major blocks and basic styles from the image provided */
body{
    width: 1440px;
    height: 1912px;
    display: flex;
    flex-direction: column;
    
    font-family: Arial, Helvetica, sans-serif;
}

.box1 {
    height: 500px;
    flex: 1 1 auto;
}

.box2 {
    height: 500px;
    flex: 1 1 auto;   
}

.box3 {
    height: 400px;
    flex: 1 1 auto;    
}

.box4 {
    height:300px;
    flex: 1 1 auto;    
}

.footer {
    height: 100px;
    flex: 1 1 auto;    
}


.box1, .footer {
    background-color: #1F2937;
}

.header-info-title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.header-info, a {
    font-size: 18px;
    color: #E5E7EB;
}


.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.placeholder {
    background-color: grey;
    color:#E5E7EB;
}

.random-info {
    font-size: 36px;
    font-weight: bold;
}

button, .square, .box4 {
    background-color: #3882F6;
    border-radius: 10px;
}

button {
    color: #F9FAF8;
    border-style: solid;
    width: 150px;
    height: 40px;
    font-weight: bold;
    font-size: 18px;
}

.container2 button {
    border-color: #1F2937;
}

.box4 button {
    border-color: #F9FAF8;
}

.square {
    border: 3px #3882F6 solid;
    /* border-radius: 20px; */
    
    width: 150px;
    height: 150px;
    
    background-color:white;
}

.box3 {
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.author {
    font-weight: bold;
    font-size: 24px;
}

.left-text-call {
    font-size: 24px;
    font-weight: bold;
    color:#F9FAF8;
}

.left-text-signup {
    font-size: 18px;
    color:#F9FAF8;
}

/* work on box1 style */
.box1 {
    display: flex;
    flex-direction: column; 
    /* align-items: center;  */
    /* justify-content: space-around; */
    padding: 20px 150px 80px 150px;
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* restyle the links */
ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
a {
    text-decoration: none;
}

.container2 {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.container2left {
    width: 450px;
    
}
.placeholder {
    flex: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* work on box2 style */
.box2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.illustration {
    display: flex;
    flex-direction: column;
    
    
}



.random-info {
    text-align: center;
    margin-top: 50px;
}


.illustration-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    
    
}

.illustration-text {
    max-width: 150px;
    text-align: center;
    
}

/* work on .box3 styling */

.box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    width:820px;
}
.author {
    width: 750px;
    text-align: right;
}


